name: Build Android and iOS
on:
  push:
    branches:
      - master
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm install
  build-android:
    needs: install-and-test
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          npm install
      - name: Run Jetify
        run: |
          npx jetify
      - name: Build Android - Debug APK
        run: |
          cd android && chmod +x ./gradlew && ./gradlew assembleDebug
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-armeabi-v7a-debug.apk
          path: android/app/build/outputs/apk/debug/app-armeabi-v7a-debug.apk
